* {
  font-family: JetbrainsMono Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
}
#workspaces button {
  color: #81a1c1;
}

#workspaces button.active {
  color: #5e81ac;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #81a1c1;
}
tooltip {
  background: #1e1e2e;
  border-radius: 10px;
}
#custom-updates,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#temperature,
#memory,
#backlight {
  padding: 0px 10px;
}

#battery.plugged {
  color: white;
}
#battery.warning {
  color: orange;
}
#battery.critical {
  color: red;
}
